<!DOCTYPE html>
<html>
  <title></title>
  <body>
    <h1>Movie Search</h1>
    <form>
      <label for='t'>Title</label>
      <input type='text' name='t'/>
      <label for='y'>Year</label>
      <input type='text' name='y' />
      <input id='search' type='submit' value='Search'>
    </form>
    <div id="result"></div>
    <div id="moreInfo"></div>
  </body>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" integrity="sha256-ivk71nXhz9nsyFDoYoGf2sbjrR9ddh+XDkCcfZxjvcM=" crossorigin="anonymous"></script>
    <!-- Local scripts -->
    <script src="/app.js" type="application/javascript"></script>
</html>
