h1 {
  color: cornflowerblue;
}

form {
  background-color: cornflowerblue;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.62);
  -moz-box-shadow:    4px 4px 5px 0px rgba(50, 50, 50, 0.62);
  box-shadow:         4px 4px 5px 0px rgba(50, 50, 50, 0.62);
  padding: 5px;
  border: 1px solid black;
  max-width: 500px;
  border-radius: 5px;
  margin-bottom: 2em;
}

form input {
  padding: 2px;
  border-radius: 2px;
  margin-right: 5px;
}

div {
  margin-bottom: 15px;
}

#result {
  font-size: 1.5em;
}

#favorites {
  border-top: 1px solid black;
  padding: 5px;
}
